.test {
  background: #eeffcc; }

.horizontal-line {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px; }

.vs_icon_img {
  height: 30px;
  width: 30px; }

.no_border {
  border-style: none; }

.wedged_rectangle {
  margin: 20px;
  width: 200px;
  height: 100px;
  display: inline-block;
  background: yellow;
  border: 1px solid black;
  transform: skewX(-10deg); }

.styled_font {
  font-family: "Impact"; }

.helvetica_font {
  font-family: "Georgia"; }
